
<%- include("partials/header") -%>


<!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
<a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->
<a href="/logout">Logout</a>
<div class="TableHolder">
  <table class="mainTable">

  </table>
</div>
<button type="button" name="Button" id="addButton"> + </button>

<div id="addModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form action="/home" method="post">
      <div class="form-group">
        <p>
          Name your habit
        </p>
        <input type="text" class="form-control text-center" name="habit" placeholder="Name of habit">
        <p>
          choose type od data:
        </p>
        <select id="dataTypes" name="habit">
          <option value="YesOrNo">Yes or No</option>
          <option value="Numbers">Counting</option>
        </select>
        <br> <br>
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>

</div>

<!-- <p id="infoGraber"> <%=foundLayout%></p> -->
<div class="form" >
  <form id="infoformo" action="/postData" method="post">
    <input id="datain" type="text" name="habitName" >
    <input id="datain2" type="text" name="habitData" >
    <input id="datain3" type="object" name="habitDate">
  </form>

</div>
<div class="form" >
  <form id="noteformo" action="/postData" method="post">
    <input id="datain4" type="text" name="habitName2" >
    <input id="datain5" type="text" name="habitDate2" >
    <input id="datain6" type="text" name="habitNote" >
  </form>

</div>


<script type="text/javascript">

  var adder = <%- JSON.stringify(adder)%>;

   var foundLayoute = <%- JSON.stringify(foundLayout)%>;
   var foundUserData = <%- JSON.stringify(foundUserData)%>; // $("#infoGraber").text();

  // console.log("<%- JSON.stringify(foundLayout)%>");
  // Get the modal
  var modal = document.getElementById("addModal");

  // Get the button that opens the modal
  var btn = document.getElementById("addButton");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };






// var vsebina = "";
// vsebina+="<table>";
//   for (i=1;i<=9; i++){
//     vsebina+="<tr>" ;
//       for(j=1;j<=9; j++){ vsebina +="<td class=\""
//
//                           if (i%3==0)
//                           {
//                              vsebina += " spodaj"; } if (j%3==0) { vsebina +=" desno" ; } vsebina +="\">";
//     if(v1[i-1][j-1]!=0){
//     vsebina+=(v1[i-1][j-1]);
//     }
//     else
//     {
//     vsebina += "<input type='number' id='i"+i+"j"+j+"' text-align='center'>"
//     }
//
//
//     vsebina += "</td>";
//
//     }
//     vsebina+="</tr>"
//     }
//     vsebina += "</table>"
console.log(foundLayoute.habitName.length);
// ---------------------------- TABELA GENERATOR -----------------
    var typeSelector = [];
    var habitSelector = [];
    var vsebina="";
    for (var i = 0; i < (<%=dinThisMonth%>+1); i++) {
      if (i == <%=day%>) {
        vsebina+="<tr><td class='today'>"+i+"</td>";
      } else{
        vsebina+="<tr><td>"+i+"</td>";
      }

        for (var j = 0; j < foundLayoute.habitName.length ; j++) {
          if(i==0) {
            vsebina += "<th>" + foundLayoute.habitName[j] + "</th>";
            habitSelector[j+1] = foundLayoute.habitName[j];
            if (foundLayoute.habitType[j] =="Numbers") {
              typeSelector[j+1]="Num";
            };
             if (foundLayoute.habitType[j]=="YesOrNo") {
              typeSelector[j+1]="YorN";
            };
          }
          else if( i== <%=day%> ){ // ZA DANAŠNJI DAN
var chose = <%=day%> ;// DAN CHECKER
for(var a = 0; a < foundUserData.length; a++){
    if (foundUserData[a].forDay.day == <%=day%>) {
      chose = a;
      break;
    }


}
         if (foundUserData[chose]) {
           var check = 0;
            for(var l = 0; l < foundLayoute.habitName.length; l++){
                if(foundLayoute.habitName[j] == foundUserData[chose].habitName[l] ) {
                  vsebina += "<td id='i"+i+"j"+(j+1)+"' class='today'>"+ foundUserData[chose].habitData[l] +"</td>";
                  check=1;
                }
            }if(check==0){
            if(foundLayoute.habitType[j] == "YesOrNo"){
              console.log(foundLayoute.habitName[j]);
              vsebina += "<td id='i"+i+"j"+(j+1)+"' class='today'>" + "<button class='Info' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",1,"+i+",this);' id='"+i+""+j+"' type='button' name='button'>Yes</button>"+"<button class='Info' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",0,"+i+",this)' id='"+i+""+j+"' type='button' name='button'>No</button>" + "</td>";
            }
            else if(foundLayoute.habitType[j] == "Numbers"){
              vsebina += "<td id='i"+i+"j"+(j+1)+"' class='today'>" + "<input class='Info' onfocusout='numInputed("+'"'+foundLayoute.habitName[j]+'"'+",this.value,"+i+",this);' id='"+i+""+j+"' type='number' name='fild'> </td>";
            }
}
           }
           else {
             if(foundLayoute.habitType[j] == "YesOrNo"){
               console.log(foundLayoute.habitName[j]);
               vsebina += "<td id='i"+i+"j"+(j+1)+"' class='today'>" + "<button class='Info' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",1,"+i+",this);' id='"+i+""+j+"' type='button' name='button'>Yes</button>"+"<button class='Info' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",0,"+i+",this)' id='"+i+""+j+"' type='button' name='button'>No</button>" + "</td>";
             }
             else if(foundLayoute.habitType[j] == "Numbers"){
               vsebina += "<td id='i"+i+"j"+(j+1)+"' class='today'>" + "<input class='Info' onfocusout='numInputed("+'"'+foundLayoute.habitName[j]+'"'+",this.value,"+i+",this);' id='"+i+""+j+"' type='number' name='fild'> </td>";
             }
         }
          }
          //-------------------------------
          else if (i < <%=day%>) {
              // ZA DNI PRED DANAŠNJIM DNEM
            var chose;
            if(foundUserData != ""){
              chose = "doesn't exist";
            for(var a = 0; a < foundUserData.length; a++){
                if (foundUserData[a].forDay.day == i) {
                  chose = a;
                  break;
                }
            }
          } else {
            chose = "doesn't exist";
          }

            if (chose != "doesn't exist") {
              var check = 0;
               for(var l = 0; l < foundLayoute.habitName.length; l++){
                   if(foundLayoute.habitName[j] == foundUserData[chose].habitName[l] ) {
                     vsebina += "<td id='i"+i+"j"+(j+1)+"' class='beforeToday'>"+ foundUserData[chose].habitData[l] +"<button class='Info' id='"+i+""+j+"' onclick='fixInput(this);'  type='button' name='button'>fix</button></td>";
                     check=1;
                   }
               }if(check==0){
               if(foundLayoute.habitType[j] == "YesOrNo"){
                 console.log(foundLayoute.habitName[j]);
                 vsebina += "<td id='i"+i+"j"+(j+1)+"' class='beforeToday'>" + "<button class='Info' id='"+i+""+j+"' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",1,"+i+",this,111);'  type='button' name='button'>Yes</button>"+"<button class='Info' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",0,"+i+",this,111)' id='"+i+""+j+"' type='button' name='button'>No</button>" + "<button type='button' id='"+i+""+j+"'  onclick='addNote(this)' name='button'>AddNote</button></td>";
               }
               else if(foundLayoute.habitType[j] == "Numbers"){
                 vsebina += "<td id='i"+i+"j"+(j+1)+"' class='beforeToday'>" + "<input class='Info' onfocusout='numInputed("+'"'+foundLayoute.habitName[j]+'"'+",this.value,"+i+",this,222);' id='"+i+""+j+"' type='number' name='fild'> </td>";
               }
   }
              }
              else {
                if(foundLayoute.habitType[j] == "YesOrNo"){
                  console.log(foundLayoute.habitName[j]);
                  vsebina += "<td id='i"+i+"j"+(j+1)+"' class='beforeToday'>" + "<button class='Info' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",1,"+i+",this,111);' id='"+i+""+j+"' type='button' name='button'>Yes</button>"+"<button class='Info' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",0,"+i+",this,111)' id='"+i+""+j+"' type='button' name='button'>No</button>" + "<button type='button' id='"+i+""+j+"'  onclick='addNote(this)' name='button'>AddNote</button></td>";
                }
                else if(foundLayoute.habitType[j] == "Numbers"){
                  vsebina += "<td id='i"+i+"j"+(j+1)+"' class='beforeToday'>" + "<input class='Info' onfocusout='numInputed("+'"'+foundLayoute.habitName[j]+'"'+",this.value,"+i+",this,222);' id='"+i+""+j+"' type='number' name='fild'> </td>";
                }
            }

          }
   //-------------------------
          else {
              vsebina += "<td id='i"+i+"j"+(j+1)+"'>"+"</td>";
          }

      }

vsebina += "</tr>";
    }
    vsebina += "";
  $(".mainTable").append(vsebina);
// ------------------------------------ KONEC TABELE GENERATORA-------------------
//------------------------------CLICK CHECK---------------------------------------
var iN;
var jN;

function clicked(x,y,z,k,l) {
  console.log(l+" THIS IS TEEST FOR FUNCTION");
var id = $(k).attr('id');
if (id[2]){ // ONLY CHECKS FOR MONTHS UP TO 10
  iN = id[0];
  iN += id[1];
  jN = id[2];
  console.log(iN+" TE ASTLEAZGTLADKL")
} else {
  iN = id[0];
  jN = id[1];
}
console.log(id+"This is The ID <---");

  console.log(x+"   toley");
  $("#datain").val(x);
  $("#datain2").val(y);
  $("#datain3").val(z);
  $("#infoformo").submit();
};

  $('#infoformo').on('submit', function (event) {
    event.preventDefault(); // Stop the form from causing a page refresh.
    var data = {
         habitName: $('#datain').val(),
         habitData: $('#datain2').val(),
         habitDate: $('#datain3').val()
       };
    $.ajax({
      url: '/postData',
      data: data,
      method: 'POST'
    })
    .then(function (response) {
      getNewData();
      console.log("I should be caaling the proper function");
    })
    .catch(function (err) {
      console.error(err);
    });
  });


function numInputed(x,y,z,k){
  var id = $(k).attr('id');
  if (id[2]){ // ONLY CHECKS FOR MONTHS UP TO 10
    iN = id[0];
    iN += id[1];
    jN = id[2];
    console.log(iN+" TE ASTLEAZGTLADKL")
  } else {
    iN = id[0];
    jN = id[1];
  }
$("#datain").val(x);
 console.log(y);
$("#datain2").val(y);
$("#datain3").val(z);
$("#infoformo").submit();
}
  function getNewData()
  {
    // Pass some identifier to use for your database
    console.log("I got into return function");
      $.ajax({
        type: 'GET',
        url: "/FetchData",
        success: function(data) {
          jN = parseInt(jN);
          jN++ ;
          // Update the element - easiet is to use EJS to make sure each house has an id/class with the id in it
          // Given an ID of 2 this says find the div with class house_2 and updates its div with class room to the number of rooms
          console.log("I IS"+iN+"AND J IS"+jN);
          adder = JSON.stringify(data.adder);
          console.log("I got This back:"+ data.adder.habitData);
          console.log("TARGETERD ID IS"+ "#i"+iN+"j"+jN);
          if (data.adder.hasOwnProperty("habitData")){
            if(iN == <%=day%>){
            $("#i"+iN+"j"+jN).replaceWith("<td id='i"+iN+"j"+jN+"' class='today'>"+data.adder.habitData+"<button class='Info' id='"+iN+""+jN+"' onclick='fixInput(this,1);'  type='button' name='button'>fix</button></td>");
          } else {
            $("#i"+iN+"j"+jN).replaceWith("<td id='i"+iN+"j"+jN+"' class='beforeToday'>"+data.adder.habitData+"<button class='Info' id='"+iN+""+jN+"' onclick='fixInput(this,1);'  type='button' name='button'>fix</button></td>");

          }
}
      }});
}

function fixInput(k,h) {
  var id = $(k).attr('id');
  console.log("I GET THIS AS ID: "+id);
// if(id[1]) {
//
// }
// else if(id[2]){}
//
//
  if (id[2]){ // ONLY CHECKS FOR MONTHS UP TO 10
    iN = id[0];
    iN += id[1];
    jN = id[2];
  } else {
    iN = id[0];
    jN = id[1];
  }
  jN = parseInt(jN);
  jN++;
  if(h==1){
    jN--;
  }
    // console.log(iN+" AND "+jN+" TESTING THIS in Fix INPUT")
    // console.log(typeSelector);
 if (typeSelector[jN] == "YorN") {
   // console.log("Im inside if YorN");
  $("#i"+iN+"j"+jN).replaceWith("<td id='i"+iN+"j"+jN+"' class='beforeToday'>" + "<button class='Info' id='"+iN+""+(jN-1)+"' onclick='clicked("+'"'+habitSelector[jN]+'"'+",1,"+iN+",this,111);'  type='button' name='button'>Yes</button>"+"<button class='Info' onclick='clicked("+'"'+habitSelector[jN]+'"'+",0,"+iN+",this,111)' id='"+iN+""+(jN-1)+"' type='button' name='button'>No</button>" + "</td>");
}; if (typeSelector[jN] == "Num"){
  // console.log("Im inside if Num");
  $("#i"+iN+"j"+jN).replaceWith("<td id='i"+iN+"j"+jN+"' class='beforeToday'>" + "<input class='Info' onfocusout='numInputed("+'"'+habitSelector[jN]+'"'+",this.value,"+iN+",this,222);' id='"+iN+""+(jN-1)+"' type='number' name='fild'>" + "</td>");
};
}

function addNote(k) {
  var id = $(k).attr('id');
  console.log("Im inside of THE ADDNOTE");
  if (id[2]){ // ONLY CHECKS FOR MONTHS UP TO 10
    iN = id[0];
    iN += id[1];
    jN = id[2];
  } else {
    iN = id[0];
    jN = id[1];
  }
  jN = parseInt(jN);
  jN++;
console.log(iN+" AND "+jN+" TESTING THIS in ADD NOTE");

$(k).replaceWith("<span id='G"+iN+""+jN+"'><textarea id='T"+iN+""+jN+"' name='message' rows='2' cols='15' placeholder='Type ur note here...'></textarea><button id='"+iN+""+jN+"' type='button' onclick='subNote("+'"'+habitSelector[jN]+'"'+",this);' name='button'>Ok</button></span>");
}

function subNote (x,y){
  var id = $(y).attr('id');
  $("#datain4").val(x);

  if (id[2]){ // ONLY CHECKS FOR MONTHS UP TO 10
    iN = id[0];
    iN += id[1];
    jN = id[2];
  } else {
    iN = id[0];
    jN = id[1];
  }

  $("#datain5").val(iN);
  var note = $('#T'+iN+''+jN+'').val();
  $("#datain6").val(note);
    console.log($("#datain4").val()+"cas "+ $("#datain5").val());
  console.log(note);
  $("#noteformo").submit();
  // switchBack();
  $.ajax({
    type: 'GET',
    url: "/fetchNote",
    success: function(data) {
      // Update the element - easiet is to use EJS to make sure each house has an id/class with the id in it
      // Given an ID of 2 this says find the div with class house_2 and updates its div with class room to the number of rooms

      adder = JSON.stringify(data.notter);

        $("#G"+iN+""+jN+"").replaceWith(""+adder+"<button type='button' id='"+iN+""+jN+"'  onclick='addNote(this,"+habitSelector[jN]+")' name='button'>edit Note</button>");
  }});
};

function switchBack() {

};

$('#noteformo').on('submit', function (event) {
  event.preventDefault(); // Stop the form from causing a page refresh.
  var data = {
       habitName2: $('#datain4').val(),
       habitDate2: $('#datain5').val(),
       Note: $('#datain6').val()
     };
  $.ajax({
    url: '/postNote',
    data: data,
    method: 'POST'
  })
  .then(function (response) {

    console.log("I should be caaling the proper function");
  })
  .catch(function (err) {
    console.error(err);
  });
});

// function replaceValues() {
//   $("#i"+iN+"j"+jN+").replaceWith(""+adder.habitData+"");
//   // i"+i+"j"+(j+1)+"
//
// }
  // for (var i=0 ; i < <%=dinThisMonth%> ; i++ ) {
  //
  // $(".mainTable").append("<tr><th id='h"+i+"'>"+i+"</th></tr>");
  //     for ( j = 0; j < foundLayoute.length ; j++) {
  //       if(i == 0) {
  //       $("#h"+i+"").append("<th>"+ foundLayoute[j].habitName +"</th>");
  //     } else {
  //       $("#h"+i+"").append("<th id="+j+">add</th>");
  //     }
  //   }
  //
  // };



</script>





<%- include("partials/footer") -%>
